<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="adp.group10.roomates">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Swich Group"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.LoginActivity"
            android:label="Sign In">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreateGroupActivity"
            android:label="Create Group"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.JoinGroupActivity"
            android:label="Add memeber"
            android:parentActivityName=".activities.MainActivity"/>
        <activity
            android:name=".activities.MainActivity"
            android:label="Shopping List"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:label="Sign Up"
            android:parentActivityName=".activities.LoginActivity"/>
        <activity
            android:name=".activities.SettlementActivity"
            android:label="Settlement Request"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="adp.group10.roomates.activities.MainActivity"/>
        </activity>
        <activity
            android:name=".activities.SelectGroupActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="adp.group10.roomates.activities.MainActivity"/>
        </activity>

        <service android:name=".backend.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".backend.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".activities.UpdateUserAccountActivity"
            android:label="Update User Account"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="adp.group10.roomates.activities.MainActivity"/>

        </activity>
    </application>

</manifest>